body{
    font-family: sans-serif;
    margin: 0;
}

header{
    display: flex;
    height: 70px;
    background-color:#070707;
    justify-content: space-between;
}
.logo{
    display: flex;
}

.logo img{
   height: 220px;
}

*{
    
    margin: 0%;
    padding: 0%;
}
html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 40px;
  }
.piePagina{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}
.foot_ul_responsive{
    display: none;
}
nav{
    background-color: white;
}
.foot_li{
    display: inline-block;
    padding: 20px;

}
.textfoot{
    color: gray;
}
.foot_li a:hover{
    color: blue;
}
.foot_face{
    display: inline-block;
}
.face{
    position:absolute ;
    left: 83%;
    font-size: 40px;
    color: black;
}
.twitter{
    position: absolute;
    left: 79%;
    font-size: 40px;
    color: black;
}
.foot_ul_responsive{
    text-align: center;
}
.foot_responsive{
    padding: 2%;
    display: block;
}
.textResponsive{
    color: gray;
   
}
.face_responsive{
    font-size: 30px;
    color: black;
}
.twitter_responsive{
    font-size: 30px;
    color: black;
}
#ColorInicio{
    color: black;
    }
#ColorProductos{
    color: black;
    }
#ColorServicios{
    color: black;
    }
#ColorNosotros{
    color: black;
    }
#ColorContacto{
    color: black;
    }
    #ColorInicio:hover{
        color: blue;
        }
    #ColorProductos:hover{
        color: blue;
        }
    #ColorServicios:hover{
        color: blue;
        }
    #ColorNosotros:hover{
        color: blue;
        }
    #ColorContacto:hover{
        color: blue;
        }   
@media only screen and (max-width: 1070px){
    .face{
        left: 85%;
    }
    .twitter{
        left: 81%;
    }
}
@media only screen and (max-width: 600px){
    .foot_ul{
        display: none;
    }
    .foot_ul_responsive{
        display: block;
    }
    #imgContacto{
        visibility:hidden;
    }
}

.alto{
    
    margin: auto;
}

footer {
    background-color:#070707;
    color: #ffff;
    text-align: center;
    padding: 30px 0;
 }
 
 footer a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 20px;